<dl class="dl-horizontal">
  <dt>Task</dt>
  <dd><input type="text" class="form-control" id="taskName" placeholder="Task name" /></dd>
  <dt>Due date</dt>
  <dd><input type="text" class="form-control" id="dueDate" placeholder="Due date" /></dd>
  <dt>Author</dt>
  <dd><input type="text" class="form-control" id="authorName" placeholder="Author name" /></dd>
</dl>
<button type="button" class="btn btn-success task-save">Create Task</button>