<h1 class="task-title"><%= title %></h1>
<p class="lead task-description"><%= author %></p>
<p class="lead task-duedate">Due: <%= duedate %></p>
<p>
<% if(complete){ %><a class="btn btn-lg btn-default task-complete" href="#">Task Completed</a>
<%} else { %>
<a class="btn btn-lg btn-success task-complete" href="#">Mark Completed</a>
<%} %>
</p>